@model CadastroDeContatos.ViewModels.ConfirmPasswordViewModel

@{
    ViewData["Title"] = "Confirmar Senha para Excluir Conta";
}

<div class="container">
    <h2>Confirmar Senha para Excluir a Conta</h2>

    <form asp-action="ConfirmPasswordBeforeDelete" method="post">
        <div class="mb-3">
            <label for="Password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="Password" name="Password" required />
        </div>

        <div class="mb-3">
            <input type="hidden" name="Email" value="@Model.Email" />
            <button type="submit" class="btn btn-danger">Excluir Conta</button>
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger mt-4">
                @TempData["ErrorMessage"]
            </div>
        }
    </form>

    <!-- Botão de voltar para a página anterior -->
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-3">Voltar para a Página Inicial</a>
</div>
