@using CadastroDeContatos.ViewModels
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Redefinir Senha";
}

<h1>@ViewData["Title"]</h1>

<p>Digite seu e-mail para receber um link para redefinir sua senha.</p>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label for="Email">E-mail</label>
        <input type="email" class="form-control" id="Email" asp-for="Email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Link de Redefinição</button>
</form>
